@{Layout="~/Views/Shared/_Layout.cshtml";}<h2>Search Flights</h2><form class="search"><input name="origin" placeholder="Origin"><input name="destination" placeholder="Destination"><input name="date" type="date"><button>Search</button></form><pre class="panel">@ViewBag.Flights</pre>
