<h1>Login</h1><p style="color:red">@ViewBag.Error</p><form method="post"><input name="email" placeholder="Email"><input name="password" type="password" placeholder="Password"><button>Login</button></form>
